<h1>Bonjour, merci de confirmer votre adresse email !</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Au plaisir!
</p>
